In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [30]:
from pyspark.sql import functions as F

In [2]:
spark = SparkSession.builder.master("local").appName("read hive").enableHiveSupport().getOrCreate()

In [3]:
df=spark.sql("show databases")
df.show()

+---------------+
|      namespace|
+---------------+
|  07172021_nyse|
|07172021_retail|
|   07172021_sms|
|    1230_trendy|
|1230_trendytech|
|  1540retail_db|
|           1src|
|          26may|
|           2stg|
|           3etl|
|           4tmp|
|       596_test|
|    596_testing|
|          5core|
|            7up|
|  967_retail_db|
|   988_chapter0|
|          _nyse|
|        _retail|
|       _retails|
+---------------+
only showing top 20 rows

In [4]:
df=spark.sql("use capsdhana")

In [5]:
df

++
||
++
++

In [7]:
df1=spark.sql("show tables")
df1

+---------+------------+-----------+
| database|   tableName|isTemporary|
+---------+------------+-----------+
|capsdhana|     details|      false|
|capsdhana| detailspart|      false|
|capsdhana|      status|      false|
|capsdhana|statusbucket|      false|
+---------+------------+-----------+

In [14]:
details=spark.sql("select * from detailspart")
details.show()

+--------+--------------------+--------------------+----------+--------------------+
|courseid|               title|          competency|complexity|          coursetype|
+--------+--------------------+--------------------+----------+--------------------+
|   C0001|Certificate in Cl...|           Technical|     Basic|               Cloud|
|   C0002|Certificate in Vi...|           Technical|     Basic|               Cloud|
|   C0003|"Diploma in Infor...| Networking and C...|  Security|               Cloud|
|   C0004|BE (Hons) in CSE ...|              Domain|  Advanced|               Cloud|
|   C0005|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0006|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0007|BCA with Microsof...|            Security|  Advanced|               Cloud|
|   C0008|BTech in Informat...|           Technical|  Advanced|               Cloud|
|   C0009|MCA with speciali...|           Technical|  Advanced|               Cloud|
|   C0010|ME in Cloud Compu...|           Technical|     Basic|               Cloud|
|   C0011|MTech Computer Sc...|           Technical|     Basic|               Cloud|
|   C0012|Bachelor’s in Com...|              Domain|     Basic|Hardware and Netw...|
|   C0013|B.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0014|BTech in IT and N...|              Domain|     Basic|Hardware and Netw...|
|   C0015|BS in Hardware an...|              Domain|     Basic|Hardware and Netw...|
|   C0016|BSc in Networking...|              Domain|     Basic|Hardware and Netw...|
|   C0017|M.Tech in Network...|              Domain|  Advanced|Hardware and Netw...|
|   C0018|M.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0019|MSc in Wireless N...|              Domain|  Advanced|Hardware and Netw...|
|   C0020|Diploma in Comput...|              Domain|  Advanced|Hardware and Netw...|
+--------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [15]:
status=spark.sql("select * from statusbucket")
status.show()

+----------+--------+---------+--------------+-----+-------------+
|studentsid|courseid| examdate|attendedstatus|marks|       result|
+----------+--------+---------+--------------+-----+-------------+
|     S0151|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0300|   C0010|26 Feb 19|        Absent|    0|Not Qualified|
|     S0264|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0148|   C0007|23 Feb 19|        Absent|    0|Not Qualified|
|     S0147|   C0006|22 Feb 19|        Absent|    0|Not Qualified|
|     S0146|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0084|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0263|   C0005|21 Feb 19|        Absent|    0|Not Qualified|
|     S0143|   C0002|18 Feb 19|        Absent|    0|Not Qualified|
|     S0023|   C0023|28 Feb 19|        Absent|    0|Not Qualified|
|     S0141|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0140|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0139|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0138|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0085|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0136|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
|     S0135|   C0016| 4 Mar 19|        Absent|    0|Not Qualified|
|     S0134|   C0015| 3 Mar 19|        Absent|    0|Not Qualified|
|     S0133|   C0014| 2 Mar 19|        Absent|    0|Not Qualified|
|     S0086|   C0017| 5 Mar 19|        Absent|    0|Not Qualified|
+----------+--------+---------+--------------+-----+-------------+
only showing top 20 rows

In [16]:
details.printSchema()

root
 |-- courseid: string (nullable = true)
 |-- title: string (nullable = true)
 |-- competency: string (nullable = true)
 |-- complexity: string (nullable = true)
 |-- coursetype: string (nullable = true)

In [17]:
status.printSchema()

root
 |-- studentsid: string (nullable = true)
 |-- courseid: string (nullable = true)
 |-- examdate: string (nullable = true)
 |-- attendedstatus: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- result: string (nullable = true)

In [20]:
results_count = status.groupBy("result").count().show()
results_count

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [28]:
absent_count=status.select('attendedstatus').where(status.attendedstatus=='Absent').count()
absent_count

149

In [34]:
mark_summary =(status.agg
                   (
                    F.avg(F.col('marks')).alias('avg_mark'),
                    F.min(F.col('marks')).alias('min_mark'),
                    F.max(F.col('marks')).alias('max_mark')
                    )
                .show()
                )
mark_summary

+------------------+--------+--------+
|          avg_mark|min_mark|max_mark|
+------------------+--------+--------+
|40.013333333333335|       0|      92|
+------------------+--------+--------+